.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-table th, .dashboard-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .dashboard-table th {
    background-color: #222;
    color: #fff;
  }
  
  .dashboard-table th:first-child, .dashboard-table td:first-child {
    border-left: none;
  }
  
  .dashboard-table th:last-child, .dashboard-table td:last-child {
    border-right: none;
  }
  